---
title: Using vSphere Host Groups with Enterprise PKS (vSphere Only)
owner: vsphere
---

<strong><%= modified_date %></strong>

This topic describes how to use vSphere Host Groups with <%= vars.product_full %>.  

vSphere host groups align with the Availability Zone (AZ) construct in BOSH, and allow for stretch vSAN clustering.

## <a id="overview"></a>Overview

In vSphere, a cluster is a collection of EXSi servers that run virtual machines (VMs). 
vSphere cluster EXSi servers and resources are typically organized using resource pools, but they can also be segmented using host groups. 

<%= vars.product_short %> users can assign a vSphere host group to a specific Availability Zone (AZ) in BOSH, and allow for stretch vSAN clustering.

See the [Designing and Sizing vSAN Fault Domains](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vsan-planning.doc/GUID-FE7DBC6F-C204-4137-827F-7E04FE88D968.html) 
in the vSphere documentation for more information on vSphere host groups.

## <a id="prerequisites"></a>Prerequisites

vSphere host group support is provided by the vSphere Cloud Provider Interface (CPI) for Ops Manager 2.5.0. 
To use host groups in <%= vars.product_short %>, you must first upgrade to, or install, Ops Manager 2.5.0 or later.

## <a id="stretched-clusters"></a> Enable vSphere Stretched Clusters Support

A stretched cluster is a single compute cluster that spans two physical datacenters. vSAN is "strechted" to provide storage for the single compute cluster across both physical datacenters. 

HostGroups support stretched clusters. Kubernetes nodes disks components and PVs will be replicated across the two sites. Kubernetes node VMs can be placed in one site or in both, depending on how the plan is configured (1 AZ checked or 2 AZs checked).

<p class="note"><strong>Note</strong>: <%= vars.product_short %> supports the default Storage Policy Based Management set on vCenter for vSAN. The number of **Failures to Tolerate** (FTT) must be set to 1 to perform data replication across the two sites.</p>

### Enabling Support for vSAN Fault Domains

The vSAN fault domains feature instructs vSAN to spread redundancy components across the servers in separate computing racks. In this way, you can protect the environment from a rack-level failure such as loss of power or connectivity. For more information, see [Designing and Sizing vSAN Fault Domains
](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vsan-planning.doc/GUID-FE7DBC6F-C204-4137-827F-7E04FE88D968.html?hWord=N4IghgNiBcIG4GcwDsAEAzMBXCAXVAJgPYC2YAlsgiAL5A) in the VMware documentation. 

Fault domains map to HostGroups. If you have set up fault domains in your vSAN architecture, so now you can leverage HostGroups with PKS.

### Using HostGroup as a New AZ in BOSH

Previously, the two types of AZs available with PKS on vSphere were Datacenter and Datacenter plus Resource Pool. HostGroups gives you a third option: Datacenter plus HostGroups.

In the case of multi-master Kubernetes clusters, with the Datacenter and Datacenter plus Resource Pool AZs, there is no guarantee that master nodes will reside on separate ESXi hosts. With the Datacenter plus HostGroups AZ you can guarantee that Kubernetes master nodes will reside on separate ESXi hosts.

## <a id="host-groups-define"></a>Step 1: Define a Host Group in vSphere

A vSphere host group must first be defined in vSphere before it can be implemented in <%= vars.product_short %>. 
To define a vSphere Host Group, perform the following:

1. Log in to vCenter.
1. Click the compute **Cluster**.
1. Click the **Configure** tab.
1. Under **Configuration**, click **VM/Host Groups**.
1. Click **Add** and configure the host group as follows:
  - Name: Specify the host group name.
  - Type: Select **Host Group** from the drop down.
  - Click **Add** and select the ESXi host(s) to include in the host group. 
  - Click **OK**.
1. Review the newly created host group configuration.
  <img src="images/vsphere/vSphere-host-group.png">

## <a id="host-groups-use"></a>Step 2: Use the Host Group with <%= vars.product_short %>

To implement a Host Group in  <%= vars.product_short %>, perform the following:

1. Log in to Ops Manager.
1. Navigate to the **Installation Dashboard**.
1. Click the BOSH Director tile.
1. Click **Create Availability Zones**.
1. Click the desired AZ, or create a new one.
1. Specify the Host Group name in **Host Group**.
1. Click **Save**.
  <img src="images/nsxt/bosh/config-bosh-29-host-group.png">

